<!DOCTYPE html>
<html>
<head>
	<title>Edit Data</title>
</head>
<body>
	<style>
		h4{
			text-align: center;
			color: white;
		}
		body{
			background: lightgreen;
		}
	</style>
	 <form action = "{{url_for('editData', register_id=register.id)}}"
	 method="post">
	 	<h4>Name:<input type="text" name="name" value="{{register.name}}"><br><br></h4>
		<h4>Surname:<input type="text" name="surname" value="{{register.surname}}"><br><br></h4>
		<h4>Roll number:<input type="text" name="roll_no" value="{{register.roll_no}}"><br><br></h4>
		<h4>Mobile number:<input type="text" name="mobile" value="{{register.mobile}}"><br><br></h4>
		<h4>Branch:<input type="text" name="branch" value="{{register.branch}}"><br><br></h4>
		<h4><input type="submit" value="UPDATE"></h4>

	 </form>
</body>
</html>