<!DOCTYPE html>
<html>
<head>
	<title>ADD Data</title>
</head>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}"/>
<body>
	 <style>
	 	#s{
	 		color:  white;	 
	}
    h2 {
      text-align: center;
    }
    h4{
      text-align: center;
    }
    body{
    	background: #707093;
    }
  </style>
	<form action="#" method="post" id="s">
		<h2><marquee>ENTER THE DATA</h2></marquee>
		<h4>Name:<input type="text" name="name"><br><br></h4>
		<h4>Surname:<input type="text" name="surname"><br><br></h4>
		<h4>Roll number:<input type="text" name="roll_no"><br><br></h4>
		<h4>Mobile number:<input type="text" name="mobile"><br><br></h4>
		<h4>Branch:<input type="text" name="branch"><br><br></h4>
		<h4 text_align:center; ><input type="submit" value="ADD"></h4>
	</form>
</body>
</html>