<!DOCTYPE html>
<html>
<head>
	<title>register</title>
	<link rel="stylesheet" type="text/css" href="sample.css">
  <style>
    h2 {
      text-align: center;
    }
    h4{
      text-align: center;
    }
    body{
      background: aqua;
    }
  </style>
</head>
<body>
<marquee> <h1>WELCOME TO BVC</h1> </marquee>
<h2>STUDENT REGISTRATION</h2>
<h4>Name <input type = "text"></h4>
<h4>surname <input type = "text"></h4>
<h4>Email <input type="text"></h4>
<h4>mobile <input type="text"></h4>
<h4>branch <input type="text"></h4>
<h4>year<input type="text"></h4>
</body>
</htm